.info {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  background: lightgray;
  padding: 10px;
  margin-bottom: 12px;
}

.navigation__links {
  display: flex;
  gap: 10px;
}

.navigation__user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
